.youtube-video {
	display: none;
	height: 100vh;
	width: 100vw;
	iframe {
		height: 70%;
		width: 100%;
		padding: 15%;
		padding-top: 10rem;
	}
}

.header {
	height: 100vh;
	width: 100vw;
}

.header__text {
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}

.header-container {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-image: url('http://live.minicdn.ca/Public/img/2016-739165/content/all4/video-screenshot.jpg?v=QtLwR5_JgP85Utjqn_mAVsqlDaHzCwyQ7Z8rDb4URZU1');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.clicked {
	display: none;
}
