@font-face {
	font-family: 'Mini Serif';
	src: url('./fonts/MINI-Serif/mini_serif-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Mini Serif Regular';
	src: url('./fonts/MINI-Serif/mini_serif-regular-webfont.woff2')
		format('woff2');
}

@font-face {
	font-family: 'MINI sans';
	src: url('./fonts/MINI-Sans/mini_sans-medium-webfont.woff2') format('woff2');
}
